<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @dispositivo.registration_id %>
</p>

<%= link_to 'Edit', edit_dispositivo_path(@dispositivo) %> |
<%= link_to 'Back', dispositivos_path %>
